body{
    background-color: hsl(212, 45%, 89%);
}

h2,p{
    text-align: center;
    font-family: Outfit;
}

p{
    font-size: 15px;
    color:grey;
}

#page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

#outer-qr-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width:300px;
    padding:15px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 20px grey;
}

#qr-code{
    width: 100%;
    border-radius: 10px;
}